body {
  background-color: #303030;
  padding: 0;
  margin: 0;
  color: white;
  text-shadow: 2px 2px 2px black;
  overflow: hidden;
  animation: op-in 0.5s cubic-bezier(.5, .8, .6, 1) 1;
}

h2 {
  margin: 2px;
}

hr {
  border-color: rgba(173, 173, 173, 0.48);
}

#main {
  position: absolute;
  height: 70%;
  text-align: center;
}

#current {
  background-color: rgba(48, 48, 48, 0.5);
  text-align: center;
  width: 80%;
  height: 90%;
  margin: 5%;
  border-radius: 1vw;
}

#bg {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(0.5vw);
  opacity: 0;
}

#bg.show {
  opacity: 1;
  animation: bg-in 5s cubic-bezier(.5, .8, .6, 1) 1;
}

#bg::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 26, 26, 0.6);
}

.stat {
  text-align: justify-all;
}

.cdeg::after {
  content: " °C";
}

#details {
  position: absolute;
  display: flex;
  text-align: center;
  justify-content: center;
  top: 70%;
  height: 30%;
  background-color: rgba(48, 48, 48, 0.21);
}

[class*="hour"] {
  height: 50%;
  margin: 3% 2px;
  text-align: center;
  text-align: justify-all;
}

.time,
.deg {
  margin: 0;
}

.hs {
  animation: hours-in 0.5s cubic-bezier(.5, .8, .6, 1) 1;
  animation-fill-mode: both;
}


/*Animation*/
@keyframes op-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes bg-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@keyframes hours-in {
  from {
    transform: translateX(100vw)
  }

  to {
    transform: translateX(0vw)
  }
}
